body {
  background-color: #E1F5FE;
  text-align: center;
}

.font {
  font-family: Garamond;
}

#head {
  font-size: 40px;
}

#bis {
  margin-left: -176px;
  font-weight: bold;
}

table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    margin: auto;
    font-size: 25px;
}

td {
  text-align: center;
  padding: 6px;
}

.bright {
  background-color: #4FC3F7;
}
.dark {
background-color: #039BE5;
}
